doctype html
html
  head
    title= title || 'CV'
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    script(src=getAssetUrl('cv.js'))
    script(src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js")
    script(src="https://cdn.ckeditor.com/ckeditor5/11.1.1/inline/ckeditor.js")
    link(href=getAssetUrl('cv.css') rel="stylesheet")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/cv') CV
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/cv')
              | Home
              span.sr-only (current)
        if isLoggedIn()
          form(action="/cv/session" method="post")
            input(type="hidden" name="_method" value="DELETE")
            input(value="Log out" type="submit" class="btn btn-link")
        else
          a(href="/cv/session/new") Log in
    - var messages = getMessages()
    if messages.notice
      .container-fluid.w-100.bg-success.text-white.align-middle
        for message in messages.notice
          p.py-1= message
    if messages.error
      .container-fluid.w-100.bg-danger.text-white.align-middle
        for message in messages.error
          p.py-1= message
    if messages.alert
      .container-fluid.w-100.bg-warning.text-white.align-middle
        for message in messages.alert
          p.py-1= message
    .container
      block content
