extends ../layout

block content
  .row
    .col
      h1 Lista de currículos
  .row
    .col
      p
        a(class="btn btn-primary" href='/cv/new') Novo currículo
  .row
    .col
      table.table.table-striped.table-dark.table-hover.table-responsive-sm.rounded-bottom
        thead
          tr
            th ID
            th Number of sections
        tbody
          for cv in cvs
            tr
              td
                a(href=`/cv/${cv._id}`)= cv._id
              td
                = [...cv.sections].length
              td
                .dropdown
                  button.btn.btn-secondary.dropdown-toggle(type="button" id=`actionsForCV_${cv._id}` data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    = 'Ações'
                  div(class="dropdown-menu" aria-labelledby=`actionsForCV_${cv._id}`)
                    a(class="dropdown-item" href=`/cv/${cv._id}`) Show
                    a(class="dropdown-item" href=`/cv/edit/${cv._id}`) Edit
                    form(action=`/cv/${cv._id}` method="POST")
                      input(type="hidden" name="_method" value="DELETE")
                      button(type="submit" class="dropdown-item") Delete

