extends ../layout

block content
  .row
    .col
      h1 Lista de currículos
  .row
    .col
      p
        a(class="btn btn-primary" href='/cv/new') Novo currículo
  .row
    .col
      table.table.table-striped.table-dark.table-hover.table-responsive-sm.rounded-bottom
        thead
          tr
            th ID
            th Nome
            th Idade
            th Skills
            th Ações
        tbody
          for person in people
            tr
              td
                a(href=`/cv/${person.id}`)= person.id
              td
                = person.name || 'Sem nome'
              td
                = person.age
              td
                = person.skills
              td
                .dropdownv
                  button.btn.btn-secondary.dropdown-toggle(type="button" id=`actionsForPerson_${person.id}` data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    = 'Ações'
                  div(class="dropdown-menu" aria-labelledby=`actionsForPerson_${person.id}`)
                    a(class="dropdown-item" href=`/cv/${person.id}`) Ver
                    form(action=`/cv/${person.id}` method="POST")
                      input(type="hidden" name="_method" value="DELETE")
                      button(type="submit" class="dropdown-item") Apagar

