extends ../layout

block content
  .row
    .col
      h1 Lista de currículos
  .row
    .col
      p
        a(class="btn btn-primary" href='/cv/new') Novo currículo
  .row
    .col
      table.table.table-striped.table-dark.table-hover.table-responsive-sm.rounded-bottom
        thead
          tr
            th ID
            th Nome
            th Skills
            th Ações
        tbody
          for cv in cvs
            tr
              td
                a(href=`/cv/${cv.id}`)= cv.id
              td
                = cv.name || 'Sem nome'
              td
                = cv.skills
              td
                .dropdown
                  button.btn.btn-secondary.dropdown-toggle(type="button" id=`actionsForCV_${cv.id}` data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    = 'Ações'
                  div(class="dropdown-menu" aria-labelledby=`actionsForCV_${cv.id}`)
                    a(class="dropdown-item" href=`/cv/${cv.id}`) Ver
                    form(action=`/cv/${cv.id}` method="POST")
                      input(type="hidden" name="_method" value="DELETE")
                      button(type="submit" class="dropdown-item") Apagar

