extends ../layout

block content
  .row
    .col
      h1= person.name
      p Este é o CV de #{person.name}
  .row
    .col
      p Nome: #{person.name}
      p Idade: #{person.age}
      p Habilidades: #{person.skills}


